@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main: #372dfc;
  --secondary: #eee9e9;
  --btn: #3673fb;
  --testOne: #62ddd6;
  --testTwo: #41c1ba;
  --main: #289dd2;
  --btn: #1d4355;
}
